body {
	margin: 0px;
	height: 100%;
}

.head {
	margin-top: 0px;
	}
	
.head .inner-head {
	background-image: url(image/theodor-lundqvist-364382-unsplash.jpg);
	height: 180px;
	width: 100%;
	
}

.head .inner-head ul {
	margin-top: 60px;
	color: white;
	float: right;
	/*display: inline;*/
}
.head .inner-head ul li:hover{
	background-color: rgba(233,234,243,0.2);
	color: black;
	border-radius: 10px;
}
.head .inner-head ul li {
	display: inline;
	font-size: 40px;
	padding: 30px;


}
.main {
	background-image: url(image/346797.jpg);
	height: 1000px;
	width: 100%;
	background-size: cover;



}
.inner-main {
	margin: 0px;


}
.inner-main .welcome ul li {
	text-align: center;
	font-size: 120px;
	margin-top: 0px;
	padding: 90px;
	text-decoration: none;
	
}
.inner-main .welcome ul {
	margin: 0px;
	text-decoration: none;
}

.inner-main .welcome p {
	font-size: 80px;
	text-align: center;
	color: white;
	padding: 20px;
	text-decoration: none;
}
.scroll {
	background-image: url(image/poon.jpg);
	margin: 0px;
	height: 900px;
	width: 100%;

}
.scroll .inner-scroll h1 {
	color: white;
	text-decoration: none;
	font-size: 60px;
	margin: 0px;
	padding: 838px;
	text-align: center;

}

.event .inner-event {
	background-image: url(image/mount.jpg);
	height: 1000px;
	width: 100%;
	margin: 0px;


}
.event .inner-event h1 {
	font-size: 200px;
	color: white;
	margin: 0px;
	text-align: center;
	margin-top: 0px;	
	padding: 90px;
	text-decoration: none;

}
































